*swn
*swo
*swp
*~
*.tmp
*.pyc
temp/*
.bundle
.venv
.goenv
.config
*.cfg
*.lock
*.sock
dummy-ansible-files/logs/anisble.dummy.log
www-data/dummy-ansible-files/logs/anisble.dummy.log
dummy-ansible-files/callbacks/*
dummy-ansible-files/logs/*
pkg/**
